body {
    background-color: rgb(213, 206, 206);
    display: flex;
    justify-content: center;
}

.board{
    border: 2px groove #a3a4a3;
    border-radius: 10px;
    background-color: rgb(144, 138, 138);
}

caption{
    font-style: italic;
    font-weight: lighter;
    font-family: 'Happy Monkey', cursive;
    padding-top: 10px;
}


table {
    padding: 20px;
    border-collapse: separate /*collapse*/;
    border-spacing: 10px;
}

/* Header = th */
th {
    background-color: #c17373;
    font-weight: bold;
}

/* 
    style for header and cell
        th => Table Header
        td => Table Data
    
*/
th,
td {
    border: 2px solid #4b4c4b;
    border-radius: 35px;
    padding: 20px;
    text-align: center;
    cursor: pointer;
}

td:hover{
    background-color: #05172e;
    color: #ffffff;
    font-weight: bold;
}

/* table row = tr */
tr {
    background-color: #4a94f6;
}

.btn {
    background-color: #c17373;
    font-weight: bold;
}
.btn:hover {
    background-color: #b05c5c;
    color: #e5d714;
}


.result {
    text-align: right;
    background: #eaf9e7;
    font-size: large;
    font-weight: bolder;
    font-style: italic;
    border: 1px dashed #a3a4a3;
    border-radius: 15px;
    cursor: not-allowed;
}
